@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body{
        background:#f2f3f5;
    }
</style>
<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="site-section cta-big-image" id="about-section">
        <div class="container" style="top:20px;">

            <img src="~/images/about.jpeg" alt="Image" class="img-fluid">
            <div style="background:#808080;" class="img-box">
                <center><span class="sub-title"><h1><b>ABOUT US</b></h1></span></center>
                <h2>Create Your Own Web Masterpiece</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis eveniet, voluptatem harum provident iusto modi explicabo! Aperiam velit reiciendis, eius impedit ea necessitatibus facilis nobis ipsum, architecto cum, doloribus nesciunt.</p>
                
            </div>
        </div>
    </div>
                                <!-----------------Footer Starts----------------------->
    <!-----------------Footer Starts----------------------->
</div> <!-- .site-wrap -->
